#!/bin/bash
#$ -M <<email>>
#$ -m abe
#S -N darwin_team_sierra
#$ -l gpu=1
#$ -l rmem=13G

module load apps/python/conda
module load libs/cudnn/8.2.1.32/binary-cuda-11.3.0

source activate darwin

<<main>>
